@model Drilling.Models.DrillingProduction

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DrillingProduction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeOFHole)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeOFHole)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meters)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meters)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfHoles)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfHoles)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BitPrefix)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BitPrefix)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BitNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BitNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BitSharp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BitSharp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
