@model Drilling.Models.DrillingProduction

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>DrillingProduction</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="TypeOFHole" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TypeOFHole" class="form-control" />
                <span asp-validation-for="TypeOFHole" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Meters" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Meters" class="form-control" />
                <span asp-validation-for="Meters" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NumberOfHoles" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NumberOfHoles" class="form-control" />
                <span asp-validation-for="NumberOfHoles" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BitPrefix" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BitPrefix" class="form-control" />
                <span asp-validation-for="BitPrefix" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BitNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BitNumber" class="form-control" />
                <span asp-validation-for="BitNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BitSharp" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BitSharp" class="form-control" />
                <span asp-validation-for="BitSharp" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

