@model IEnumerable<Drilling.Models.DrillingProduction>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TypeOFHole)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Meters)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfHoles)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BitPrefix)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BitNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BitSharp)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOFHole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfHoles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BitPrefix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BitNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BitSharp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
