@{
    ViewBag.Title = "Index";
}
<h2>Create Drilling Main</h2>
<div class="container">
    <div class="master row">
        <h2>Drilling</h2>
        <div class="col-sm-12 col-lg-3">
            <div class="form-group">
                <label class="error" for="DateOfDrilling">DateOfDrilling</label>
                <input type="text" class="form-control" id="DateOfDrilling" placeholder="DateOfDrilling">
            </div>
            <div class="form-group">
                <label class="error" for="ShotNumber">ShotNumber</label>
                <input type="text" class="form-control" id="ShotNumber" placeholder="ShotNumber">
            </div>
            <div class="form-group">
                <label class="error" for="RL">RL</label>
                <input type="text" class="form-control" id="RL" placeholder="RL">
            </div>
        </div>
        <div class="col-sm-12 col-lg-3">
            <div class="form-group">
                <label class="error" for="StartHourMeter">StartHourMeter</label>
                <input type="text" class="form-control" id="StartHourMeter" placeholder="StartHourMeter">
            </div>
            <div class="form-group">
                <label class="error" for="FinishHourmeter">FinishHourMeter</label>
                <input type="text" class="form-control" id="FinishHourMeter" placeholder="FinishHourMeter">
            </div>
        </div>
        <div class="col-sm-12 col-lg-3">
            <div class="form-group">
                <label class="error" for="StartHamer">StartHamer</label>
                <input type="text" class="form-control" id="StartHamer" placeholder="StartHamer">
            </div>
            <div class="form-group">
                <label class="error" for="FinishHammer">FinishHammer</label>
                <input type="text" class="form-control" id="FinishHammer" placeholder="FinishHammer">
            </div>
        </div>
        <div class="col-sm-12 col-lg-3">
            <label class="error">Select Equipment</label>
            <select id="MachineID" class="MachineID form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <label class="error">Select Shift</label>
            <select id="ShiftID" class="ShiftID form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <label class="error">Select DrillOperator</label>
            <select id="DrillOperatorID" class="DrillOperatorID form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
    </div>
    <hr />
    <div class="details">
        <h2>
            Drilling Production
        </h2>
        <table class="table table-striped">
            <tr>
                <td>TypeOFHole</td>
                <td>Meters</td>
                <td>NumberOfHoles</td>
                <td>BitPrefix</td>
                <td>BitNumber</td>
                <td>BitSharp</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="mycontainer" id="mainrow">
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" id="TypeOFHole" placeholder="TypeOFHole">
                        <span class="error" for="TypeOFHole"></span>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" id="Meters" placeholder="Meters">
                        <span class="error" for="Meters"></span>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" id="NumberOfHoles" placeholder="NumberOfHoles">
                        <span class="error" for="NumberOfHoles"></span>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" id="BitPrefix" placeholder="BitPrefix">
                        <span class="error" for="BitPrefix"></span>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" id="BitNumber" placeholder="BitNumber">
                        <span class="error" for="BitNumber"></span>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" id="BitSharp" placeholder="BitSharp">
                        <span class="error" for="BitSharp"></span>
                    </div>
                </td>
                <td>
                    <input type="button" id="add" value="add" style="width:80px" class="btn btn-success" />
                </td>
            </tr>
        </table>
        <div id="drillingProduction">
            <table class="table table-striped" id="TableItems">
                <thead>
                    <tr>
                        <td colspan="7"><h4 class="text-center text-primary">Added Items</h4></td>
                    </tr>
                    <tr><td></td></tr>
                </thead>
                <tbody id="drillingProductionItems">

                </tbody>
            </table>
            <span id="drillingItemError" style="color:red"></span>
        </div>
        <div style="padding:10px 0; text-align:right">
            <input id="submit" type="button" value="Save Drilling" class="btn btn-warning" style="padding:10px 20px" />
        </div>
    </div>
</div>
@section scripts {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/js/myScripts.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#DateOfDrilling').datepicker({
                dateFormat: 'dd/mm/yy'
            })
        })
    </script>
    <style>
        span.error, label.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 90%;
        }

        tr.error {
            background-color: rgba(255,0,0,0.35);
        }
    </style>
}