@model Drilling.Models.DrillingMain

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DrillingMain</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ID" />
        <dt>
            @Html.DisplayNameFor(model => model.DateOfDrilling)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfDrilling)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShotNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShotNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartHourmeter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartHourmeter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinishHourmeter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinishHourmeter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartHamer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartHamer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinishHammer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinishHammer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShiftHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShiftHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductionHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductionHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RedrillHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RedrillHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrammingHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrammingHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdleHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdleHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StandbyHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StandbyHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClimateHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClimateHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaintenanceHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceHourmeter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaintenanceHourmeter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceEvents)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaintenanceEvents)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
