@model Drilling.Models.DrillingMain

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DrillingMain</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateOfDrilling)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfDrilling)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShotNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShotNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartHourmeter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartHourmeter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinishHourmeter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinishHourmeter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartHamer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartHamer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinishHammer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinishHammer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShiftHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShiftHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductionHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductionHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RedrillHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RedrillHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrammingHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrammingHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdleHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdleHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StandbyHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StandbyHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClimateHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClimateHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaintenanceHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceHourmeter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaintenanceHourmeter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceEvents)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaintenanceEvents)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
