@model Drilling.Models.DrillingMain

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>DrillingMain</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="DateOfDrilling" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateOfDrilling" class="form-control" />
                <span asp-validation-for="DateOfDrilling" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RL" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RL" class="form-control" />
                <span asp-validation-for="RL" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShotNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShotNumber" class="form-control" />
                <span asp-validation-for="ShotNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartHourmeter" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StartHourmeter" class="form-control" />
                <span asp-validation-for="StartHourmeter" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FinishHourmeter" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FinishHourmeter" class="form-control" />
                <span asp-validation-for="FinishHourmeter" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartHamer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StartHamer" class="form-control" />
                <span asp-validation-for="StartHamer" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FinishHammer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FinishHammer" class="form-control" />
                <span asp-validation-for="FinishHammer" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShiftHours" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShiftHours" class="form-control" />
                <span asp-validation-for="ShiftHours" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProductionHours" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ProductionHours" class="form-control" />
                <span asp-validation-for="ProductionHours" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RedrillHours" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RedrillHours" class="form-control" />
                <span asp-validation-for="RedrillHours" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TrammingHours" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TrammingHours" class="form-control" />
                <span asp-validation-for="TrammingHours" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IdleHours" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IdleHours" class="form-control" />
                <span asp-validation-for="IdleHours" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StandbyHours" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StandbyHours" class="form-control" />
                <span asp-validation-for="StandbyHours" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClimateHours" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ClimateHours" class="form-control" />
                <span asp-validation-for="ClimateHours" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaintenanceHours" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaintenanceHours" class="form-control" />
                <span asp-validation-for="MaintenanceHours" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ServiceHours" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ServiceHours" class="form-control" />
                <span asp-validation-for="ServiceHours" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaintenanceHourmeter" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaintenanceHourmeter" class="form-control" />
                <span asp-validation-for="MaintenanceHourmeter" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaintenanceEvents" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaintenanceEvents" class="form-control" />
                <span asp-validation-for="MaintenanceEvents" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

