@model IEnumerable<Drilling.Models.DrillingMain>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfDrilling)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShotNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartHourmeter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FinishHourmeter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartHamer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FinishHammer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShiftHours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductionHours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RedrillHours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TrammingHours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdleHours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StandbyHours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClimateHours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaintenanceHours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ServiceHours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaintenanceHourmeter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaintenanceEvents)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfDrilling)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShotNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartHourmeter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishHourmeter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartHamer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishHammer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RedrillHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrammingHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdleHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandbyHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClimateHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaintenanceHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaintenanceHourmeter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaintenanceEvents)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
